.subheading {
    border-bottom: 2px solid #e0cf1c;
    padding-bottom: 10px;
    display: inline-block;
}

.header-nav {
    padding: 20px 0;
}

.section-title {
    margin-bottom: 20px;
}

.section-projects {
    background: #f1f1f1;
}

img {
    width: 100%;
}