.subheading {
    border-bottom: 2px solid #e0cf1c;
    padding-bottom: 10px;
    display: inline-block;
}

.header-nav {
    padding: 20px 0;
}

.section-title {
    margin-bottom: 20px;
}

.section-projects {
    background: hsl(232, 11%, 15%);
}

img {
    width: 100%;
}

.section-heading-content {
  margin-top: 50px;
}

.section-heading-content p {
	font-size: 20px;
}

.card-title-project {
	font-weight: bold;
	font-size: 25px;
}

.section-title-light {
  color: #fff;
}
